@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: playBold;
	font-display: swap;
	src: url("../fonts/playBold.woff2") format("woff2"), url("../fonts/playBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: UniSansCaps;
	font-display: swap;
	src: url("../fonts/UniSansCaps.woff2") format("woff2"), url("../fonts/UniSansCaps.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
