//====================================================================================================

.page {

    // .page__container
    &__container {
        @media (max-width:$tablet) {
            padding-top: rem(15);
        }

        @media (min-width:$tablet) {
            display: flex;
            padding-bottom: rem(50);
        }
    }

    // .page__aside
    &__aside {
        flex: 0 0 rem(261);
    }

    // .page__menu
    &__menu {
        margin-bottom: rem(15);

        @media (min-width:$tablet) {
            margin-bottom: rem(45);
        }

    }
    // .page__content-aside
	&__content-aside {
        @media (max-width:$tablet){
            margin: rem(30) 0;
        }
	}

    // .page__news-aside
    &__news-aside {
        margin-bottom: rem(15);

        @media (min-width:$tablet) {
            margin-bottom: rem(25);
        }
    }

    // .page__reviews-aside
    &__reviews-aside {}

    // .page__content
    &__content {
        min-width: 0;

        @media (min-width:$tablet) {
            flex: 1 1 auto;
            margin-left: rem(32);
        }
    }

    // .page__footer-menu
    &__footer-menu {
        @include adaptiveValue("margin-bottom", 40, 20);
    }

    // .page__search
    &__search {
        margin-bottom: rem(20);
    }

    // .page__main-slider
    &__main-slider {
        margin: 0 rem(-15) rem(30);
        @media (min-width:$mobile){
            margin: 0 0 rem(65) 0;
        }
        
    }

    // .page__products-slider
    &__products-slider {}

    // .page__about

    &__about {}

    // .page__brands
    &__brands {}
}

//====================================================================================================
.menu-page {
    background: url('@img/menu-bg.jpg') #068292;
    position: relative;
    // .menu-page__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(21);
    }

    // .menu-page__label
    &__label {
        font-family: UniSansCaps;
        font-size: rem(30);
        font-weight: 900;
        letter-spacing: 0.75px;
        color: #fff;
    }

    // .menu-page__burger
    &__burger {
        background-color: #068292;
        flex: 0 0 rem(36);
        height: rem(35);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .menu-page__burger-icon
    &__burger-icon {
        display: block;
        position: relative;
        width: rem(24);
        height: rem(16);
        cursor: pointer;
        z-index: 25;

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }

        &::before {
            top: 0px;
        }

        &::after {
            bottom: 0px;
        }

        span {
            top: calc(50% - 1px);
        }

        ._active & {
            span {
                transform: scale(0);
            }

            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }

            &::after {
                transform: rotate(45deg);
                bottom: calc(50% - 1px);
            }
        }
    }

    // .menu-page__body
    &__body {
        display: none;
        padding-bottom: rem(10);

        &._active {
            display: block;
        }
    }

    // .menu-page__list
    &__list {
    }

    // .menu-page__item
    &__item {
        @media (max-width:$mobile) {
            position: relative;
        }

        &>a {
            color: #fff;
        }

        &:not(:last-child) {
            border-bottom: rem(1) solid #1aa7b9;
        }

        // .menu-page__item_parent
        &_parent {
            & .menu-page__link {
                position: relative;

                &::before {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-10px, -50%) rotate(180deg);
                    font-size: rem(19);
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    .submenu-page__body {
                        transform: translate(0, 0);
                        overflow: auto;
                        pointer-events: all;
                    }

                    .menu-page__link {
                        &::before {
                            transform: translate(-10px, -50%) rotate(0deg);
                        }
                    }
                }
            }
        }
    }

    // .menu-page__link
    &__link {
        display: block;
        padding: rem(11) rem(22);
        font-size: rem(12);
        font-weight: 300;
        letter-spacing: 0.3px;

        ._active-sub & {
            background-color: #098494;
        }

        &::before {
            transition: all 0.3s ease 0s;

            ._active-sub & {
                transform: translate(-10px, -50%) rotate(0deg);
            }

            @media (max-width:$mobile) {
                ._active-sub & {
                    transform: translate(-10px, -50%) rotate(-90deg);
                }
            }
        }
    }

    // .menu-page__submenu
    &__submenu {}
}

//====================================================================================================
.submenu-page {
    @media (min-width:$tablet) {
        position: absolute;
        z-index: 9;
        overflow: hidden;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        transition: transform 0.3s ease 0s;
        ._active-sub & {
            overflow: visible;
            pointer-events: auto;
        }
    }

    // .submenu-page__body
    &__body {
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // transition: transform 0.3s ease 0s;

        @media (max-width:$tablet) {
            overflow: hidden;
            pointer-events: none;
            opacity: 0;
            transition: all 0.3s ease 0s;

            ._active-sub & {
                position: relative;
                overflow: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }

        @media (min-width:$tablet) {
            transform: translate(-100%, 0);
            border: rem(2) solid #098494;
            ._active-sub & {
                transform: translate(0, 0);
            }
        }

        
    }

    // .submenu-page__list
    &__list {
        padding: rem(10) 0;
        border-bottom: rem(1) solid #dedede;

    }

    // .submenu-page__item
    &__item {
        z-index: 10;

        &>a {
            color: $accentColor;
        }
    }

    // .submenu-page__link

    &__link {
        display: block;
        padding: rem(13) rem(13) rem(13) rem(40);
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #71c7d3;
                color: #fff;
            }
        }
    }

    // .submenu-page__product-card
    &__product-card {
        display: none;

        @media (min-width:$tablet) {
            display: block;
            padding: 0 rem(9);

            .product-card {
                border: 0;
            }
        }
    }
}


//====================================================================================================
.search-page {
    display: flex;
    // align-items: center;
    position: relative;

    // .search-page__select
    &__select {
        display: none;

        @media (min-width:$mobile) {
            display: block;
        }
    }

    // .search-page___value
    &__value {
        display: flex;
        gap: rem(12);
        align-items: center;
        background-color: #f2f2f2;
        height: rem(39);
        padding: 0 rem(13);
        cursor: pointer;

        &::before {
            font-size: rem(17);

        }

        &::after {
            content: "\e902";
            @extend %ic;
            transform: rotate(180deg);
            font-size: rem(19);
            transition: transform 0.3s ease 0s;
        }

        span {
            border-bottom: 1px dashed;
            font-weight: 300;
            color: #666666;
            letter-spacing: 0.7px;

            &:last-child {
                display: none;
            }
        }

        &._categories {
            span {
                display: none;

                &:last-child {
                    display: block;
                }
            }
        }

        &._active {
            &::after {
                transform: rotate(-90deg);
            }

            &+.categories-search-page {
                display: block;
            }
        }
    }

    // .search-page__categories
    &__categories {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 4;
    }

    // .search-page__input
    &__input {
        flex: 1 1 auto;
        border-top: rem(2) solid #f2f2f2;
        border-bottom: rem(2) solid #f2f2f2;

        @media (max-width:$mobile) {
            border-left: rem(2) solid #f2f2f2;
        }

        input {
            width: 100%;
            height: 100%;
            display: block;
            padding: 0 rem(20);
            outline: 0;
        }
    }

    // .search-page__button
    &__button {}
}

//====================================================================================================
.categories-search-page {
    display: none;
    background-color: #fff;
    border-bottom: rem(4) solid $orangeColor;
    width: 100%;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;

    // .categories-search-page__row
    &__row {
        display: flex;
        justify-content: space-between;
    }

    // .categories-search-page__column
    &__column {
        flex: 0 1 33.333%;

        &:not(:last-child) {
            border-right: 1px solid #f3f3f3;
        }
    }

    // .categories-search-page__list
    &__list {
        padding: rem(30) rem(40);

        li {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    // .categories-search-page__checkbox
    &__checkbox {
        .checkbox__label {
            color: $grayColorText;
            cursor: pointer;

        }

        .checkbox__input {
            display: none;

            &:checked+.checkbox__label {
                color: $orangeColor;
            }
        }

    }
}

//====================================================================================================

.main-slider {

    // .main-slider__slider
    &__slider {}

    // .main-slider__swiper
    &__swiper {}

    // .main-slider__slide
    &__slide {
        position: relative;
        z-index: 2;
        padding: rem(21) rem(36) rem(58);
        @media (min-width:$tablet){
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: percent(417, 771);
                height: 100%;
                background-image: linear-gradient(to right, #e1e1e1, rgba(255, 255, 255, 0.342), rgba(255, 255, 255, 0));
                background-size: cover;
            }
        }
        

    }

    // .main-slider__content
    &__content {
        position: relative;
        z-index: 3;
    }

    // .main-slider__image-ibg
    &__image-ibg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // .main-slider__dotts
    &__dotts {
        position: relative;
        z-index: 2;
        margin-top: rem(15);
        display: flex;
        justify-content: center;
        counter-reset: item;
        @media (min-width:$tablet){
            margin-top: rem(-27.5);
        }
        .swiper-pagination-bullet {
            border-radius: 50%;
            width: rem(11);
            height: rem(11);
            margin: 0 rem(5);
            border: rem(6) solid $grayColorText;
            @media (min-width:$tablet){
                width: rem(55);
                height: rem(55);
                margin: 0 rem(22.5);
                border: rem(2) solid #fff;
                position: relative;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
    
                &::after {
                    opacity: 0;
                    transition: all 0.3s ease 0s;
                    counter-increment: item;
                    content: counter(item);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $orangeColor;
                    font-size: rem(16);
                    font-weight: 900;
                    color: #fffefe;
                }
            }
            

        }

        .swiper-pagination-bullet-active {
            border: rem(6) solid $accentColor;
                &::after {
                    opacity: 1;
                }
            @media (min-width:$tablet){
                border: rem(4) solid #fff;
            }
            

        }
    }
}

.content-main-slider {

    // .content-main-slider__title
    &__title {
        @include adaptiveValue("font-size",48,33);
        font-weight: 900;
        line-height: 0.9;
        color: #333;
        text-transform: uppercase;
        margin-bottom: rem(53);

        span {
            display: block;
            color: $orangeColor;
        }
    }

    // .content-main-slider__text
    &__text {
        font-weight: 900;
        line-height: 2;
        color: #333;
        text-transform: uppercase;
        margin-bottom: rem(15);

        // .content-main-slider__text-1
        &-1 {
            font-size: rem(16);
            color: $orangeColor;
        }

        // .content-main-slider__text-2
        &-2 {
            background-color: #959492;
            color: #fff;
            padding: rem(5) rem(10);
        }

        // .content-main-slider__text-3
        &-3 {
            color: #959492;
        }
    }


    // .content-main-slider__footer
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .content-main-slider__price
    &__price {
        font-size: rem(36);
        font-weight: 900;
        line-height: 0.67;
        color: #fff;
        margin-bottom: rem(24);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: rem(9);

        &::before {
            font-size: rem(20);
        }
    }

    // .content-main-slider__button
    &__button {
        text-transform: uppercase;
        border: 3px solid #fff;
        height: rem(33);
        padding: 0 rem(12);
        border-radius: rem(15);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: rem(12);
        align-items: center;
        color: #fff;
        font-weight: 900;

        &::before {
            transition: transform 0.3s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                &::before {
                    transform: scale(1.2);

                }
            }
        }
    }
}

//====================================================================================================

.news-aside {

    // .news-aside__title
    &__title {
        margin-bottom: rem(15);

        @media (min-width:$tablet) {
            margin-bottom: rem(35);
        }
    }

    // .news-aside__items

    &__items {}

    // .news-aside__item

    &__item {}
}

.item-news-aside {
    &:not(:last-child) {
        margin-bottom: rem(15);

        @media (min-width:$tablet) {
            margin-bottom: rem(45);
        }
    }

    // .item-news-aside__title

    &__title {
        font-size: rem(12);
        font-weight: 900;
        line-height: 1.5;
        color: #333;
        text-transform: uppercase;
        margin-bottom: rem(22);
        display: inline-block;

        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    // .item-news-aside__body
    &__body {
        display: flex;
    }

    // .item-news-aside__time
    &__time {
        flex: 0 0 rem(45);
        font-size: rem(18);
        font-weight: 300;
        color: #d8d8d8;
        padding-right: rem(5);

        span {
            display: block;
            font-weight: 900;
            font-size: rem(24);
        }
    }

    // .item-news-aside__text
    &__text {
        flex: 1 1 auto;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
    }
}

//====================================================================================================

.reviews-aside {

    // .reviews-aside__title
    &__title {
        margin-bottom: rem(15);

        @media (min-width:$tablet) {
            margin-bottom: rem(30);
        }
    }

    // .reviews-aside__items

    &__items {}

    // .reviews-aside__item
    &__item {
        margin-bottom: rem(15);

        @media (min-width:$tablet) {
            margin-bottom: rem(40);
            display: block;
        }
    }
}

.item-reviews-aside {
    @media (any-hover: hover) {
        &:hover {
            .item-reviews-aside__content {
                background-color: $accentColor;
                color: #fff;

                &::before {
                    color: #64deee;
                }
            }

            .item-reviews-aside__name {
                color: $accentColor;
            }

            .item-reviews-aside__date {
                color: $accentColor;
            }
        }
    }

    // .item-reviews-aside__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(10);

        @media (min-width:$tablet) {
            margin-bottom: rem(25);
        }
    }

    // .item-reviews-aside__name
    &__name {
        font-size: rem(12);
        font-weight: 900;
        line-height: 1.5;
        color: #333;
        text-transform: uppercase;
        transition: color 0.3s ease 0s;
    }

    // .item-reviews-aside__date
    &__date {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        color: #999;
        transition: color 0.3s ease 0s;
    }

    // .item-reviews-aside__content
    &__content {
        font-size: rem(12);
        font-weight: 300;
        line-height: 1.5;
        color: #666;
        display: flex;
        padding: rem(8) rem(14);
        transition: all 0.3s ease 0s;

        &::before {
            flex: 0 0 rem(32);
            font-size: rem(24);
            color: #dadada;
            transition: color 0.3s ease 0s;
        }
    }
}

//====================================================================================================

.products-slider {

    // .products-slider__header
    &__header {
        display: flex;
        flex-direction: column;
        gap: rem(15);
        margin-bottom: rem(20); 
        @media (min-width:$mobile){
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: rem(31); 
        }
        
    }

    // .products-slider__title

    &__title {
        
    }

    // .products-slider__control
    &__control {
        display: flex;
        gap: rem(25);
    }

    // .products-slider__arrow
    &__arrow {

        // .products-slider__arrow_prev
        &_prev {}

        // .products-slider__arrow_next
        &_next {}
    }

    // .products-slider__navigation
    &__navigation {
        font-weight: 500;
        letter-spacing: 0.35px;
        color: $grayColorText;

        .swiper-pagination-current {
            font-size: rem(30);
            font-weight: 900;
            letter-spacing: 0.75px;
            color: #333;
        }
    }

    // .products-slider__slider

    &__slider {}

    // .products-slider__swiper
    &__swiper {}

    // .products-slider__slide

    &__slide {}

    // .products-slider__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(260), 1fr));
        gap: rem(30);
    }
}

//====================================================================================================
.brands {
    border-top: 3px dashed #dadada;
    border-bottom: 3px dashed #dadada;
    padding: rem(23) 0;
    margin-bottom: rem(32);

    // .brands__container
    &__container {}

    // .brands__body
    &__body {
        padding: 0 rem(40);
        position: relative;
    }

    // .brands__slider
    &__slider {
        display: flex;
    }

    // .brands__control
    &__control {}

    &__slider-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        // .brands__slider-arrow_prev
        &_prev {
            left: 0;
        }

        &_next {
            right: 0;
        }
    }

    // .brands__swiper

    &__swiper {
        align-items: center;
    }

    // .brands__slide

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .brands__link
    &__link {
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }
    }

    // .brands__image
    &__image {
        width: 100%;
        padding: 0 rem(10);
    }
}

//====================================================================================================
.about {
    padding-bottom: rem(38);

    // .about__container
    &__container {}

    // .about__body

    &__body {
        background: #009cb0;
        padding: rem(15);
        margin: 0 rem(-15);
        @media (min-width:$mobile) {
            margin: 0;
            padding: rem(45) rem(32) rem(60);
        }

    }

    // .about__title

    &__title {
        color: #22b7ca;
        margin-bottom: rem(33);
    }

    // .about__row
    &__row {
        display: flex;
        flex-direction: column;
        row-gap: rem(25);
        @media (min-width:$mobile) {
            flex-direction: row;
            column-gap: rem(60);
        }

    }

    // .about__column
    &__column {
        flex: 0 1 50%;
        color: #fff;
        font-size: rem(12);
        line-height: 1.67;
        letter-spacing: 0.3px;
        position: relative;

        p {
            &:not(:last-child) {
                margin-bottom: rem(25);
            }
        }
    }

    // .about__subtitle
    &__subtitle {
        text-transform: uppercase;
        font-weight: 500;
    }

    // .about__list
    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: rem(5);
            }

            &::before {
                @extend %ic;
                content: "\e902";
                font-size: rem(14);
                display: inline-block;
                position: relative;
                left: 0;
                top: 1px;
                transform: rotate(180deg);
                color: #48d6e9;
            }
        }
    }

    // .about__polygon
    &__polygon {
        display: none;
        @media (min-width:$tablet) {
            display: block;
            float: right;
            shape-outside: polygon(100% 0, 75% 0, -12% 100%, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 75% 0, -12% 100%, 0 100%, 100% 100%);
            height: 205px;
            width: 245px;
        }
    }

    // .about__image
    &__image {
        display: none;
        @media (min-width:$tablet) {
            display: block;
            position: absolute;
            bottom: -295px;
            right: -125px;
        }

    }
}




//====================================================================================================


//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================